@import url(./font.css);

.container {
  width: 100%;
  height: 100vh;
  background: url(./contents/seoul.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}
.container.seoul {
  background: url(./contents/seoul.png) no-repeat;
}
.container.newyork {
  background: url(./contents/newyork.png) no-repeat;
}
.container.tokyo {
  background: url(./contents/tokyo.png) no-repeat;
}
.container.beijing {
  background: url(./contents/beijing.png) no-repeat;
}
.container_yetload {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
}

.date {
  font-family: "Baloo", sans-serif;
  color: #fff;
  font-size: 60px;
  padding: 40px 50px;
}

.RightSide {
  background: rgba(0, 0, 0, 0.7);
  width: 35%;
  height: 100%;
  font-family: "GmarketSans300";
  padding: 65px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.SelectCity .selectcity-tit {
  color: #fff;
  font-size: 20px;
  margin-bottom: 8px;
  position: relative;
}
.selectcity-tit::before {
  content: "";
  display: inline-block;
  background: #fff;
  width: 100%;
  height: 0.5px;
  position: absolute;
  bottom: -5px;
}

.citybutton-wrap {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.selectcity-city {
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  font-family: "GmarketSans500";
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
}

.selectcity-city.selected {
  background: rgba(255, 255, 255, 0.8);
  font-family: "GmarketSans700";
  color: #333;
}
.datashow-tit {
  font-size: 20px;
  color: #fff;
  position: relative;
  margin-bottom: 40px;
}
.datashow-tit::before {
  content: "";
  position: absolute;
  bottom: -5px;
  background: #fff;
  width: 100%;
  height: 0.5px;
}

.datalist {
  margin-bottom: 30px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.LeftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.LocationDegree {
  padding: 40px 50px;
  color: #fff;
  font-family: "Baloo", sans-serif;
}
.LD-selectcity-tit {
  font-size: 50px;
  text-transform: capitalize;
}
.LD-selectcity-degree {
  font-size: 100px;
}
